@model IEnumerable<MyRssReader.Models.Rss>

@{
    ViewBag.Title = "RSS Reader";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>RssReader</h2>
<p></p>

<body>
    @if (Model != null)
        foreach (var item in Model)
        {
            <div>
                <p>
                    <a href="@item.Link" target="_blank">@System.Web.HttpUtility.HtmlDecode(item.Title)</a>
                </p>
                <p>
                    <img src="@Url.Content(item.ImageUrl)" alt="Image" style="height:200px;width:340px;" />
                </p>
                <p>
                    @System.Web.HttpUtility.HtmlDecode(item.Description)
                </p>
                <p>
                    @item.PubDate
                </p>
                <p>
                    <a href="@item.Link" target="_blank">Read more...</a>
                </p>
                <hr />
            </div>
        }
</body>